#body{
  width:75%;
}
/* Promotion header settings */
#box {
  position: relative;
  margin-bottom: 2em;
  background: white;
  border-radius: 0.5em;
  box-shadow: 2px 2px 4px rgb(54, 54, 54);
  padding: 1em 1em;
  width: 95%;
  height: 100%;
}

.smallbox {
  position: relative;
  margin-bottom: 2em;
  background: white;
  border-radius: 0.5em;
  box-shadow: 2px 2px 4px rgb(54, 54, 54);
  padding: 1em 1em;
  width: 10em;
  height: 5em;
  float: inline;
}

#pagLeft,
#pagRight {
  position: absolute;
  color: rgb(46, 46, 46);
  font-size: 40pt;
  top: 40%;
  transition-duration: 0.5s;
}

#pagLeft {
  left: 15px;
}

#pagRight {
  right: 15px;
}

#pagLeft:hover,
#pagRight:hover {
  color: #e2c044;
}

.navbar {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.vl {
  border-left: 1px solid black;
  height: 300px;
  margin-left: 15em;
  float: left;
}
