@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato:300,400,700');

h1, h2, h3, p, body, div {
   font-family: Tahoma, Helvetica, sans-serif;
   margin: 0;
   padding: 0;
}

a{
   text-decoration:none;
}

h1  {  
   font-size: 1.8em; 
   margin: 0.25em 0 0.25em 0;
}
h2  {   
   font-size: 1.2em;    
   margin: 0.5em 0 0.25em 0;
}
p, body {
   font-size: 0.9em;
} 
p {
   margin-bottom: 1em;
}  
body {
   background-color: #e2c044; 
}

/* Navbar */

#brand-header {
    font-size: 22pt;
    font-family: monospace;
    font-weight: 900;
    text-transform: capitalize;
    margin-left: 0.1em;
    color: black;
    
}

.leftAlign {
   float: left;
   margin: .5em;
}

.rightAlign {
   float: right;
   margin: .5em;
}

.navbar {
    width: 100%;
    overflow:hidden;
    padding: 1em;
    background-color: rgba(242, 213, 107, 1);
}

#navbar-item {
    padding: 1em;
    margin-right: 1em;
    width: 100%;
    text-align: center;
    font-size: 14pt;
    color: black;
}

#navbar-item:hover {
    color: beige;
    transition-delay: 0.1s;
}

#mainTitle {
    margin: 0.5em;
    padding: 0.5em;
    font-size: 34pt;
    color: white;
}

#searchCar {
    display: flex;
    width: 80%;
    background-color: white;
    padding: 1em;
    margin: auto;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1em;
}

.button {
    border: none;
    color: white;
    padding: 0.5em 2em;
    margin-right: 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: monospace;
    font-size: 16pt;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: transparent;
    color: white;
    border: 2px solid #ffffff;
    border-radius: 12px;
}

.button1:hover {
    background-color: rgba(255,255,255,0.5);
    color: white;
}

#underline:hover {
    text-decoration: underline;
    color: beige;
    transition-delay: 0.1s;
}

.content {
    padding: 2em;
    width: 100%;
    background-color: white;
}

.footer {
    position: fixed;
    width: 100%;
    padding: 2em;
    margin-bottom: 5em;
}

.column {
    float: left;
    width: 30%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}